

.filters{
    span{
        margin-right: 0;
        margin-left: 1200px;
    }
    padding-bottom: 20px;
}
ngx-charts-line-chart{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.ngx-datatable .datatable-body-cell {
    border-left: 1px solid black;
  }

  .chart{
    margin-top: 50px;
    min-height: 500px;
    min-width: 1000px;
  }
  div{
    display: block;
  }